.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  padding: 10px;
  margin: 10px;
  background-color: rgb(156, 218, 218);
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #777;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}


.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

/* exercice 2  */

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

#items {
  display: flex;
}

.item {
  margin: 30px;
  background-color: lavender;
  list-style: none;
}

.item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}


.item-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5px;
}

.item-price {
  flex-grow: 1;
  color: #333;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}

/* Exercice3  */
#list-tools,
#my-pick {
  display: flex;
  height: 300px;
  justify-content: space-evenly;
}

.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}

.card img {
  object-fit: contain;
  min-height: 200px;
  max-height: 200px;
}

.card:hover {
  cursor: pointer;
}

#result {
  font-weight: bold;
  font-size: 30px;
  color: blue;
  padding: 50px;
}

.active {
  font-weight: bold;
  color: purple;
}

.active img {
  border: 1px blue solid;
}